@inherits LayoutComponentBase
@inject ThemeService ThemeService

<RadzenComponents @rendermode="InteractiveServer"/>


<RadzenLayout
    Style="grid-template-areas: 'rz-header rz-header' 'rz-sidebar rz-body' 'rz-sidebar rz-footer'">

    <RadzenHeader Style="display: flex ;justify-content: start">
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End"
                     AlignItems="AlignItems.Center" Gap="1rem">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" class="rz-m-0"/>
            <RadzenAppearanceToggle/>
        </RadzenStack>
        <RadzenStack Style="margin: 1rem;" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start"
                     AlignItems="AlignItems.Center">
            <RadzenLink
                Text="Expert Bridge Admin Site"
                Path="https://admin.expertbridge.duckdns.org" Target="_blank" Icon="home"
                Style="font-size: 1rem;"/>
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="User Profiles" Icon="account_circle" Path="/user-profiles"/>
            <RadzenPanelMenuItem Text="All Posts Tags" Icon="tag" Path="/post-tags"/>
            <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" Expanded="true">
                <RadzenPanelMenuItem Text="Users & Profiles" Icon="people" Path="/"/>
                <RadzenPanelMenuItem Text="Content" Icon="article" Path="/dashboard/content"/>
                <RadzenPanelMenuItem Text="Tags" Icon="label" Path="/dashboard/tags"/>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Deleted Content" Icon="delete" Expanded="false">
                <RadzenPanelMenuItem Text="Deleted Posts" Icon="article" Path="/deleted-posts"/>
                <RadzenPanelMenuItem Text="Deleted Comments" Icon="chat_bubble" Path="/deleted-comments"/>
                <RadzenPanelMenuItem Text="Deleted Tags" Icon="label" Path="/deleted-tags"/>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>

    <RadzenBody Style="overflow: auto">
        @Body
    </RadzenBody>

    <RadzenFooter Style="text-align: center;">
        <span>Copyright © @DateTime.Now.Year, Expert Bridge. All rights reserved.</span>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;
}
