services:
    Keycloak:
        image: "quay.io/keycloak/keycloak:latest"
        container_name: "keycloak"
        command: start
        volumes:
            - "keycloak-data:/opt/keycloak/data"
        ports:
            - target: 8080
              published: 8080
            - target: 9000
              published: 9000
        env_file:
            - ".env.keycloak"
        environment:
            KC_HOSTNAME: ${KC_HOSTNAME}
            KC_HOSTNAME_PORT: ${KC_HOSTNAME_PORT}
            KC_HOSTNAME_STRICT_BACKCHANNEL: false
            KC_HTTP_ENABLED: true
            KC_HOSTNAME_STRICT_HTTPS: false
            KC_HEALTH_ENABLED: true
            KC_DB: ${KC_DB}
            KC_DB_URL: ${KC_DB_URL}
            KC_DB_USERNAME: ${KC_DB_USERNAME}
            KC_DB_PASSWORD: ${KC_DB_PASSWORD}
            KC_DB_SCHEMA: ${KC_DB_SCHEMA}
            KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME}
            KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
        networks:
            - keycloak_network
            - postgres_network
        restart: unless-stopped

volumes:
    keycloak-data:
        name: keycloak-data
        driver: local

networks:
    keycloak_network:
        name: keycloak_network
        driver: bridge
    postgres_network:
        name: postgres_network
        driver: bridge
        external: true
