services:
  ExpertBridgeRedis:
    container_name: "ExpertBridgeRedis"
    image: "redis:alpine"
    volumes:
    - "expertbridge-redis-data:/data"
    ports:
    - target: 6379
      published: 6379
    command:
    - "--save"
    - "300"
    - "1"
    networks: 
      - expert-bridge-network
    healthcheck:
      test: "redis-cli ping"
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  
  ExpertBridgeApi:
    container_name: "ExpertBridgeApi"
    image: "expert-bridge-api:test"
    build:
      context: "server"
      dockerfile: "Dockerfile"
    env_file:
      - ".env.api"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: ${OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES}
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: ${OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES}
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: ${OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY}
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: ${ASPNETCORE_FORWARDEDHEADERS_ENABLED}
      HTTP_PORTS: ${HTTP_PORTS}
      ConnectionStrings__Postgresql: ${ConnectionStrings__Postgresql}
      ConnectionStrings__Redis: ExpertBridgeRedis:6379
    networks: 
      - expert-bridge-network
    ports:
    - target: 8080
      published: 8080
    depends_on:
      - ExpertBridgeRedis
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://ExpertBridgeApi:8080/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

volumes:
  expertbridge-redis-data:
    name: "expertbridge-redis-data"
    driver: local

networks:
  expert-bridge-network:
    name: "expert-bridge-network"
    driver: bridge
