global:
  scrape_interval: 10s
  evaluation_interval: 10s
  scrape_timeout: 10s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node'
    static_configs:
      - targets: ['localhost:9100']

  - job_name: 'postgresql'
    static_configs:
      - targets: ['postgresql-exporter:9187']


# alerting:
#   alertmanagers:
#     - static_configs:
#         - targets:
          # - alertmanager:9093

# Optional: Add rules for alerting
# rule_files:
  # - "alerts.yml