services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./config.yml:/etc/prometheus/prometheus.yml
      - prometheus-storage:/prometheus
    networks:
      - prometheus
    restart: unless-stopped

networks:
  prometheus:
    name: prometheus
    driver: bridge

volumes:
  prometheus-storage:
    name: prometheus-storage
    driver: local