services:
  rabbitmq:
    container_name: "rabbitmq"
    image: "docker.io/library/rabbitmq:4.1-management"
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    volumes:
    - "expertbridge-rabbitmq-data:/var/lib/rabbitmq"
    ports:
    - target: 5672
      published: 5672
    - target: 15672
      published: 15672
    restart: unless-stopped
  ollama:
    container_name: "ollama"
    image: "docker.io/ollama/ollama:0.11.8"
    volumes:
    - "expertbridge-ollama-data:/root/.ollama"
    ports:
    - target: 11434
      published: 11434
    restart: unless-stopped
  Redis:
    container_name: "Redis"
    image: "docker.io/redis:alpine"
    environment:
      REDIS_PASSWORD: "7oaAXMi1sOMCLWZ3etwKkD"
    volumes:
    - "expertbridge-redis-data:/data"
    ports:
    - target: 6379
      published: 6379
    command:
    - "-c"
    - "redis-server --requirepass $REDIS_PASSWORD --save 300 1"
    - "/bin/sh"
    restart: unless-stopped
  Seq:
    container_name: "Seq"
    image: "docker.io/datalust/seq:2025.2"
    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_NOAUTHENTICATION: "True"
    volumes:
    - "expertbridge-seq-data:/data"
    ports:
    - target: 80
      published: 4002
    restart: unless-stopped
  Postgres:
    container_name: "Postgres"
    image: "docker.io/pgvector/pgvector:pg17"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256"
      POSTGRES_USER: "root"
      POSTGRES_PASSWORD: "root"
    volumes:
    - "expertbridge-postgres-data:/var/lib/postgresql/data"
    ports:
    - target: 5432
      published: 5432
    restart: unless-stopped
  Pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "admin@admin"
      PGADMIN_CONFIG_FORCE_SSL: "True"
      PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: "False"
      PGADMIN_CONFIG_WTF_CSRF_CHECK_DEFAULT: "False"
      PGADMIN_CONFIG_WTF_CSRF_ENABLED: "False"
    volumes:
      - "expertbridge-pgadmin-data:/var/lib/pgadmin"
    ports:
      - target: 80
        published: 5050
    depends_on:
      - Postgres
    restart: unless-stopped
  ExpertBridgeApi:
    container_name: "ExpertBridgeApi"
    image: "expertbridgeapi:latest"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "8080"
      ConnectionStrings__Redis: "Redis:6379,password=7oaAXMi1sOMCLWZ3etwKkD"
      ConnectionStrings__Seq: "http://Seq:80"
      ConnectionStrings__Postgres: "Host=Postgres;Port=5432;Username=root;Password=root"
      ConnectionStrings__rabbitmq: "amqp://guest:guest@rabbitmq:5672"
    ports:
    - target: 8080
      published: 10000
    - target: 8443
      published: 10001
    restart: unless-stopped
  ExpertBridgeAdmin:
    container_name: "ExpertBridgeAdmin"
    image: "expertbridgeadmin:latest"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "8080"
      ConnectionStrings__Redis: "Redis:6379,password=7oaAXMi1sOMCLWZ3etwKkD"
      ConnectionStrings__Seq: "http://Seq:80"
      ConnectionStrings__Postgres: "Host=Postgres;Port=5432;Username=root;Password=root"
      ConnectionStrings__rabbitmq: "amqp://guest:guest@rabbitmq:5672"
    ports:
    - target: 8080
      published: 10002
    - target: 8443
      published: 10003
    restart: unless-stopped
  ExpertBridgeWorker:
    container_name: "ExpertBridgeWorker"
    image: "expertbridgeworker:latest"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ConnectionStrings__Redis: "Redis:6379,password=7oaAXMi1sOMCLWZ3etwKkD"
      ConnectionStrings__rabbitmq: "amqp://guest:guest@rabbitmq:5672"
      ConnectionStrings__Seq: "http://Seq:80"
      ConnectionStrings__ollama-snowflake-arctic-embed2: "Endpoint=http://ollama:11434;Model=snowflake-arctic-embed2:latest"
      ConnectionStrings__Postgres: "Host=Postgres;Port=5432;Username=root;Password=root"
    restart: unless-stopped
volumes:
  expertbridge-rabbitmq-data: {}
  expertbridge-ollama-data: {}
  expertbridge-redis-data: {}
  expertbridge-seq-data: {}
  expertbridge-postgres-data: {}
  expertbridge-pgadmin-data: {}
