services:
  Redis:
    container_name: "Redis"
    image: "docker.io/redis:alpine"
    environment:
      REDIS_PASSWORD: "expertbridge_redis_password"
    volumes:
    - "expertbridge-redis-data:/data"
    ports:
    - target: 6379
      published: 6379
    command:
    - "-c"
    - "redis-server --requirepass $REDIS_PASSWORD --save 300 1"
    - "/bin/sh"
    restart: unless-stopped
  Seq:
    container_name: "Seq"
    image: "docker.io/datalust/seq:2024.3"
    environment:
      ACCEPT_EULA: "Y"
    volumes:
    - "expertbridge-seq-data:/data"
    ports:
    - target: 80
      published: 4002
    restart: unless-stopped
  ExpertBridgeApi:
    container_name: "ExpertBridgeApi"
    image: "expertbridgeapi:latest"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "8080"
      ConnectionStrings__Redis: "Redis:6379,password={Redis-password.value}"
      ConnectionStrings__Seq: "http://Seq:80"
    ports:
    - target: 8080
      published: 10000
    - target: 8443
      published: 10001
    restart: unless-stopped
  ExpertBridgeAdmin:
    container_name: "ExpertBridgeAdmin"
    image: "expertbridgeadmin:latest"
    environment:
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EXCEPTION_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_EMIT_EVENT_LOG_ATTRIBUTES: "true"
      OTEL_DOTNET_EXPERIMENTAL_OTLP_RETRY: "in_memory"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
      HTTP_PORTS: "8080"
      ConnectionStrings__Seq: "http://Seq:80"
    ports:
    - target: 8080
      published: 10002
    - target: 8443
      published: 10003
    restart: unless-stopped
volumes:
  expertbridge-redis-data: {}
  expertbridge-seq-data: {}
