@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Database.Admin> SignInManager
@inject IdentityRedirectManager RedirectManager

@if (externalLogins.Length == 0)
{
    <RadzenAlert AlertStyle="AlertStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter">
        <RadzenText TextStyle="TextStyle.Body1">
            There are no external authentication services configured. See this
            <RadzenLink Path="https://go.microsoft.com/fwlink/?LinkID=532715" Target="_blank" Text="article" />
            about setting up this ASP.NET application to support logging in via external services.
        </RadzenText>
    </RadzenAlert>
}
else
{
    <form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
        <AntiforgeryToken/>
        <input type="hidden" name="ReturnUrl" value="@ReturnUrl"/>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" Wrap="FlexWrap.Wrap">
            @foreach (var provider in externalLogins)
            {
                <RadzenButton ButtonType="ButtonType.Submit" 
                              ButtonStyle="ButtonStyle.Primary" 
                              Text="@provider.DisplayName"
                              name="provider" 
                              value="@provider.Name"
                              Title="Log in using your @provider.DisplayName account" />
            }
        </RadzenStack>
    </form>
}

@code {
    private AuthenticationScheme[] externalLogins = [];

    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
    }

}
