@page "/deleted-comments"
@using ExpertBridge.Admin.Components.SubModules

<PageTitle>Deleted Comments</PageTitle>

<RadzenStack Gap="1.5rem" class="rz-p-4 rz-p-md-6">
    <RadzenCard>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center" Gap="1rem">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                <RadzenIcon Icon="delete" IconStyle="IconStyle.Secondary" />
                <RadzenText TextStyle="TextStyle.H4" TagName="TagName.H1" class="rz-m-0">
                    Deleted Comments
                </RadzenText>
            </RadzenStack>
            <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="@($"{Comments.Count} deleted")" Shade="Shade.Lighter" />
        </RadzenStack>
    </RadzenCard>

    <RadzenCard>
        @if (Comments == null)
        {
            <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="1rem" Style="min-height: 300px;">
                <RadzenProgressBarCircular ShowValue="false" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large" />
                <RadzenText TextStyle="TextStyle.Body1">Loading deleted comments...</RadzenText>
            </RadzenStack>
        }
        else if (Comments.Any())
        {
            <RadzenStack Gap="1.5rem">
                @foreach (var comment in Comments)
                {
                    <div style="padding-bottom: 1.5rem; border-bottom: 1px solid var(--rz-border-color);">
                        <Comment CommentResponse="comment" />
                    </div>
                }
            </RadzenStack>
        }
        else
        {
            <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="1rem" Style="padding: 3rem 0;">
                <RadzenIcon Icon="sentiment_dissatisfied" Style="font-size: 64px;" class="rz-color-secondary" />
                <RadzenStack AlignItems="AlignItems.Center" Gap="0.25rem">
                    <RadzenText TextStyle="TextStyle.H6" class="rz-font-weight-medium">
                        No deleted comments found
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2" class="rz-color-secondary">
                        Deleted comments will appear here
                    </RadzenText>
                </RadzenStack>
            </RadzenStack>
        }
    </RadzenCard>
</RadzenStack>
