name: Build and Push API Docker Image

on:
    push:
        branches: ["main"]
        paths:
            - "server/**"
            - ".github/workflows/build-api-docker-image.yml"

env:
    IMAGE_NAME: expert-bridge-api
    TAG: ${{ github.sha }}

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        defaults:
            run:
                working-directory: ./server

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build the Docker image
              run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/${{env.IMAGE_NAME}}:${{ env.TAG }} .

            - name: Tag the Docker image
              run: docker tag ${{ secrets.DOCKERHUB_USERNAME }}/${{env.IMAGE_NAME}}:${{ env.TAG }} ${{ secrets.DOCKERHUB_USERNAME }}/${{env.IMAGE_NAME}}:latest

            - name: Push the Docker image
              run: |
                  docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{env.IMAGE_NAME}}:${{ env.TAG }}
                  docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{env.IMAGE_NAME}}:latest
