name: Client (Typescript) Linting 

on:
  push:
    branches-ignore:
      - main
    paths:
      - 'client/**'
  pull_request:
    paths:
      - 'client/**'

jobs:
  lint:
    name: Lint Client (Typescript)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint