name: Python Linting

on:
  push:
    branches-ignore: [ main ]
    paths:
      - 'RecommendationSystem/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'RecommendationSystem/**'

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: RecommendationSystem
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11.x'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run pylint
      run: pylint $(git ls-files '*.py')